.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 150ms ease, box-shadow 100ms ease;
    padding: var(--mantine-spacing-xl);
    padding-left: calc(var(--mantine-spacing-xl) * 2);

    @mixin hover {
        box-shadow: var(--mantine-shadow-md);
        transform: scale(1.02);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: rem(6px);
        background-image: linear-gradient(
            0,
            var(--mantine-color-pink-6),
            var(--mantine-color-orange-6)
        );
    }
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-black);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;

    @mixin hover {
        background-color: var(--mantine-color-blue-7);
        color: var(--mantine-color-white);

        .linkIcon {
            color: var(--mantine-color-white);
        }
    }

    &[data-active] {
        &,
        &:hover {
            box-shadow: var(--mantine-shadow-sm);
            background-color: var(--mantine-color-white);
            color: var(--mantine-color-blue-filled);

            .linkIcon {
                color: var(--mantine-color-blue-filled);
            }
        }
    }
}
