.wrapper {
    display: flex;
    background-color: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-dark-8)
    );
    border-radius: var(--mantine-radius-lg);
    padding: rem(4px);
    border: rem(1px) solid
        light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
    }
}

.form {
    flex: 1;
    border-left: 0;

    @media (max-width: $mantine-breakpoint-sm) {
        padding: var(--mantine-spacing-md);
        padding-left: var(--mantine-spacing-md);
    }
}

.fields {
    margin-top: rem(-12px);
}

.title {
    margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
    font-family: Greycliff CF, var(--mantine-font-family);

    @media (max-width: $mantine-breakpoint-sm) {
        margin-bottom: var(--mantine-spacing-xl);
    }
}

.control {
    @media (max-width: $mantine-breakpoint-sm) {
        flex: 1;
    }
}
